.skills>a{
    color: #868e96;
}
.footer-copyright{
    font-size: 1.3rem;    
    color: white;
    background-color: #bd5d38!important;
}
.footer-copyright>a{
    font-size: 1.5rem;
}
@media screen and (max-device-width:640px), screen and (max-width:640px) {
    .nameCustom{
        display: flex;
        flex-direction: column;
    }
}